<div class="small-box bg-aqua">
    <div class="inner">
        <h3>{{ qty }}</h3>

        <p>{{ "admin.block.article.available_articles" | trans }}</p>
    </div>
    <div class="icon">
        <i class="fa fa-pencil-square-o"></i>
    </div>
    <a href="{{ path('admin_purethink_cms_article_list') }}" class="small-box-footer">
        {{ "admin.block.article.view_more" | trans }} <i class="fa fa-arrow-circle-right"></i>
    </a>
</div>